/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

body {
    background-color: #f6f6ff;
    font-family: Calibri, Myriad;
}

#main {
    width: 780px;
    padding: 20px;
    margin: auto;
}

table.purpleTable {
    margin: auto;
    width: 600px;
    border-collapse: collapse;
    border: 1px solid #fff; /*for older IE*/
    border-style: hidden;
}

    table.purpleTable caption {
        background-color: #f79646;
        color: #fff;
        font-size: x-large;
        font-weight: bold;
        letter-spacing: .3em;
    }

    table.purpleTable thead th {
        padding: 8px;
        background-color: #fde9d9;
        font-size: large;
    }

        table.purpleTable thead th#thDay {
            width: 40%;
        }

        table.purpleTable thead th#thRegular, table.purpleTable thead th#thOvertime, table.purpleTable thead th#thTotal {
            width: 20%;
        }

    table.purpleTable th, table.purpleTable td {
        padding: 3px;
        border-width: 1px;
        border-style: solid;
        border-color: #f79646 #ccc;
    }

    table.purpleTable td {
        text-align: right;
    }

    table.purpleTable tbody th {
        text-align: left;
        font-weight: normal;
    }

    table.purpleTable tfoot {
        font-weight: bold;
        font-size: large;
        background-color: #687886;
        color: #fff;
    }

    table.purpleTable tr.even {
        background-color: #fde9d9;
    }