@using NHSDP_Request_handling.Core.Model;
@model IEnumerable<Office>
@{
    ViewData["Title"] = "Offices";
}

<div id="main">
    <table class="purpleTable">
    <tr>
        <th>ID</th>
        <th>Adress</th>
        <th>Cabinets count</th>
        <th></th>
        <th></th>
    </tr>
    @foreach (Office office in Model)
    {
        <tr>
            <td>@office.Id</td>
            <td>@office.Adress</td>
            <td>@office.CabinetsCount</td>
            <td><button>Delete</button></td>
            <td><button>Edit</button></td>
        </tr>
    }
</table>
</div>

<button type="button">Add</button>