@model NHSDP_Request_handling.WEB.ViewModel.CourseVM

@{
    ViewData["Title"] = "Edit course";
}

<h4>Update course</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update">
            <div class="form-group">
                <input hidden asp-for="Id" value="@Model.Id" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Technology" class="control-label"></label>
                <input asp-for="Technology" value="@Model.Technology" class="form-control" required />
            </div>
            <div class="form-group">
                <label asp-for="HoursCount" class="control-label">Hours count</label>
                <input asp-for="HoursCount" value="@Model.HoursCount" class="form-control" type="number" min="2" required />
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<p style="color: darkred;">@TempData["Message"]</p>