<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> name </th>
      <td mat-cell *matCellDef="let internship"> {{ internship.name }} </td>
    </ng-container>

  <ng-container matColumnDef="startAt">
    <th mat-header-cell *matHeaderCellDef> starting </th>
    <td mat-cell *matCellDef="let internship"> {{ internship.startAt }} </td>
  </ng-container>

  <ng-container matColumnDef="endAt">
    <th mat-header-cell *matHeaderCellDef> ending </th>
    <td mat-cell *matCellDef="let internship"> {{ internship.endAt }} </td>
  </ng-container>

  <ng-container matColumnDef="maxS">
    <th mat-header-cell *matHeaderCellDef> max stud. </th>
    <td mat-cell *matCellDef="let internship"> {{ internship.maxStudentsCount }} </td>
  </ng-container>
  
  <ng-container matColumnDef="currS">
    <th mat-header-cell *matHeaderCellDef> current stud. </th>
    <td mat-cell *matCellDef="let internship"> {{ internship.currentStudentsCount }} </td>
  </ng-container>
  
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>