<mat-toolbar class="header mat-elevation-z8">
    <mat-toolbar-row class="header-actions">
        <a [routerLink]="['internships']">internships</a>
        <a [routerLink]="['courses']">courses</a>
        <section id="my">
            no
            <button mat-icon-button disableRipple [routerLink]="['my']">
                <mat-icon>person</mat-icon>
            </button>
            edge
        </section>
        <a [routerLink]="['offices']">offices</a>
        <a [routerLink]="['teachers']">teachers</a>
    </mat-toolbar-row>
</mat-toolbar>